 
   <%= form_with model: @medication, url: "#{medications_path}/#{@medication.id}" do |f| %>

  <p>
  	<%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :start_date %><br>
    <%= f.text_area :start_date %><!--get time picker js-->
  </p>
  <p>
    <%= f.label :end_date %><br>
    <%= f.text_area :end_date %> <!--get time picker js-->
  </p>
  <p>
    <%= f.label :dose %><br>
    <%= f.text_area :dose %> <!-- units? Don't allow text-->
  </p>
  <p>
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </p>
  
  <p>
  	<% if @medication.id.present? %>
   		<%= f.submit "Update Medication"%>
	<% else %>
		<%= f.submit "Create Medication" %>
	<% end %>	
  </p>
 
<% end %>

