

<!-- Bootstrap Date-Picker Plugin -->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/> -->
<!-- <head> 
<link rel="stylesheet" href="jquery-ui.min.css">
<script src="external/jquery/jquery.js"></script>
<script src="jquery-ui.min.js"></script>
</head> -->

<!-- <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet"> -->
<!-- <script src = "https://code.jquery.com/jquery-1.10.2.js"></script> -->
<!-- <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> -->


	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

  <%= form_with model: @medication, url: "#{medications_path}/#{@medication.id}" do |f| %>

  	<%#= label_tag :name, 'Search for a medication' %>
    <%#= text_field_tag :name, nil, placeholder: 'E.g. Ibuprofen' %>
    <%#= button_tag 'Search' %> <!-- Fill in name of medication from search from NHS API-->
  	
	<div class="bootstrap-iso">
	 <div class="container-fluid">
	<p>
		<%= f.label :name %><br>
	    <%= f.text_area :name %>
	</p>

	<!-- <input type="text" name="date" id="date"> -->

	<p>
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date, id: 'startdate'  %><!--get time picker js-->
  	</p>

  <p>
    <%#= f.label :end_date %> <br>
    <%#= f.text_field :end_date, id: 'enddate'%> <!--get time picker js-->
  </p>
  
  <p>
    <%= f.label :dose %><br>
    <%= f.text_area :dose %> <!-- units? Don't allow text-->
  </p>
  <p>
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </p>
  
  <p>
  	<% if @medication.id.present? %>
   		 <button class="btn btn-primary" name="submit" type="submit">Update Medication</button>
	<% else %>
		 <button class="btn btn-primary" name="submit" type="submit">Create Medication</button>
	<% end %>	
  </p>
  </div>    
 </div> 
      
<% end %>

<script>
  $( document ).ready(function() { 
$("#startdate").datepicker();
});

</script>

<!-- <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> -->
 <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script> -->
<!-- <script src="/Scripts/jquery-ui-1.12.1.js"></script>
 -->



