 
  <%= form_with model: @medications, local: true do |form| %>

  <p>
    <%= label_tag :medications, 'Search for a medication' %>
    <%= text_field_tag :medications, nil, placeholder: 'E.g. Ibuprofen' %>
    <%= button_tag 'Search' %> <!-- Fill in name of medication from search from NHS API-->
  </p>

  <p>
    <%= form.label :start_date %><br>
    <%= form.text_area :text %><!--get time picker js-->
  </p>
  <p>
    <%= form.label :end_date %><br>
    <%= form.text_area :text %> <!--get time picker js-->
  </p>
  <p>
    <%= form.label :duration %><br>
    <%= form.text_area :text %> <!--Calculate from start and end date -->
  </p>
  <p>
    <%= form.label :dose %><br>
    <%= form.text_area :text %> <!-- units? Don't allow text-->
  </p>
  <p>
    <%= form.label :notes %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>

